# Python
venv/
__pycache__/
*.pyc
*.pyo
*.sqlite3
backend/media/
backend/staticfiles/
*.egg-info/
.eggs/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local
.env.*
